@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

#spanName{
    border : 2px solid black;
}

.card-horizontal{
    display: flex;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}


.erreur_invisible{
    visibility: hidden;
}

.erreur_visible {
    visibility: visible;
    color: red;
    font-style: italic;
}

#lastName{
    text-transform: uppercase;
}

.color-btn-valide{
    background-color: #66CDAA;
}